:root {
  --primaryColor: #2c3333;
  --textColor: #f5f2e7;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primaryColor);
  color: var(--textColor);
}

body a {
  color: var(--textColor);
  text-decoration: none;
  cursor: pointer;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
